<mat-card class="example" >
    <mat-card-header> 
    <mat-card-title><b>Title: </b>"{{ myfilm.title | uppercase }}"" </mat-card-title>
    <mat-card-subtitle><b>Episode {{ myfilm.episode_id }}</b>  </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle><b>Opening Crawl:</b> {{ myfilm.opening_crawl }}  </mat-card-subtitle>
    <mat-card-subtitle><b>Director: </b>{{ myfilm.director }} </mat-card-subtitle>
    <mat-card-subtitle><b>Producer: </b>{{ myfilm.producer }} </mat-card-subtitle>
    <mat-card-subtitle><b>Release date: </b>{{ myfilm.release_date }} </mat-card-subtitle>
    
    <br>
    <mat-card-subtitle><b>Characters: </b></mat-card-subtitle>
    <tr *ngFor="let c of mycharacters">
        <td><b>{{ c.name }}</b></td>
        <td><b>Height:</b> {{ c.height }} cm</td>
        <td><b>Gender: </b>{{ c.gender }}</td>
        
    </tr>
    </mat-card-content>
</mat-card>

  
  
